body {
    font-family: 'Quicksand', sans-serif;
}

.hero {
    height: 80vh;
    background: linear-gradient(rgba(0,0,0,0.5), rgba(0,0,0,0.5)),
                url('./src/img/salada-premium.png.webp') center/cover no-repeat;
}

.promo {
    background-color: #28a745;
}

.card img {
    height: 220px;
    object-fit: cover;
}

@media (max-width: 768px) {
    .hero {
        height: 60vh;
        padding: 20px;
    }
}